<div style="height: 100vh" class="main-container" fxLayout="column" fxLayoutAlign="space-between stretch" >
  <mat-card class="search-card" fxLayout="column" fxLayoutAlign="end center">
    <div fxLayout="column" fxLayoutAlign="center center" style="text-align: center;" fxLayoutGap="20px">
    <img src="assets/logo.png" alt="logo" class="logo">
    <form [formGroup]="searchForm" (ngSubmit)="submit()">


      <div fxLayout="row" fxLayoutAlign="center stretch">

          <div fxLayout="column">
          <mat-form-field appearance="outline" class="home-search-input" style="height: 100%" fxFlex="grow">
            <label>
              <input matInput formControlName="search_field" [matAutocomplete]="auto"
                     [placeholder]="searchPlaceholder">
            </label>
            <mat-error *ngIf="err">{{err}}</mat-error>
          </mat-form-field>
          </div>

          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="submit()">
            <mat-option *ngFor="let account of filteredAccounts" [value]="account">{{account}}</mat-option>
          </mat-autocomplete>

        <button mat-stroked-button matSuffix type="submit" [attr.aria-label]="'search'" class="search-btn"
                (keyup.enter)="submit()">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>

      </div>

    </form>
      <div>
        <div style="margin-bottom: 10px;" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
          <span>Connected to</span>
          <span class="outline" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
            <img [src]="chainData.chainInfoData.logo" alt="logo" style="height: 28px">
            <span>{{chainData.chainInfoData.chain_name}}</span>
          </span>
        </div>
        <div>Provided by <a [href]="chainData.chainInfoData.provider_url" target="_blank">{{chainData.chainInfoData.provider}}</a>
        </div>
      </div>
    </div>
  </mat-card>
  <div class="main-images-container">
    <div class="images-container">
      <div class="image-box" (click)="openTransactionDetail(lastGeneratedImages[0][1])">
        <img class="image" [src]="lastGeneratedImages[0][0]" />
        <p>{{lastGeneratedImages[0][1]}}</p>
      </div>
      <div class="image-box" (click)="openTransactionDetail(lastGeneratedImages[1][1])">
        <img class="image" [src]="lastGeneratedImages[1][0]" />
        <p>{{lastGeneratedImages[1][1]}}</p>
      </div>
      <div class="image-box" (click)="openTransactionDetail(lastGeneratedImages[2][1])">
        <img class="image" [src]="lastGeneratedImages[2][0]" />
        <p>{{lastGeneratedImages[2][1]}}</p>
      </div>
      <div class="image-box" (click)="openTransactionDetail(lastGeneratedImages[3][1])">
        <img class="image" [src]="lastGeneratedImages[3][0]" />
        <p>{{lastGeneratedImages[3][1]}}</p>
      </div>
      <div class="image-box" (click)="openTransactionDetail(lastGeneratedImages[4][1])">
        <img class="image" [src]="lastGeneratedImages[4][0]" />
        <p>{{lastGeneratedImages[4][1]}}</p>
      </div>
    </div>
  </div>

  <div class="footer">
    <a href="https://discord.gg/UBGVfXDRd" target="_blank"><img src="assets/discord_icon.svg" alt="discord social media" class="discord"  /></a>
    <a href="https://t.me/skynetgpu" target="_blank"><img src="assets/telegram_icon.svg" alt="telegram social media" class="telegram" /></a>
  </div>
</div>